@import url("bootstrap/css/bootstrap.min.css");
@import url("social/style.css");
@import url("fonts/font.css");



.hidden {
  display: none;
}
/* customized CSS library */
.main-container {
  margin-top: 80px;
}

body {
  color: #EEE;
}

.warm {
  color: white;
}

.boldbrand {
  font-size: 21px;
  font-family: raleway extralight;
}

.bigger {
  font-size: 35px;
  font-family: noto sans;
}
.big {
  font-size: 21px;
  font-family: noto sans;
}
.normal {
  font-size: 16px;
  font-family: noto sans;
}

.biggest-stylish {
  font-size: 60px;
  font-family: 'Asul', sans-serif;
  margin-bottom: 5px;
}
.bigger-stylish {
  font-size: 35px;
  font-family: 'Asul', sans-serif;
}
.big-stylish {
  font-size: 21px;
  font-family: Raleway light;
}
.big-stylish2 {
  font-size: 21px;
  font-family: Open Sans CondLight;
}
.normal-stylish {
  font-size: 16px;
  font-family: 'Asul', sans-serif;
}
.small-stylish {
  font-size: 14px;
  font-family: Raleway;
}

#blogs, #blog {
  background-color: rgba(245, 215, 170, .3);
  margin-bottom: 100px;
  padding-bottom: 30px;
  border-radius: 2em;
}
/*
  Home CSS
*/
#home-page .format-adjust {
  padding-top: 7em;
  margin: 0 4em 0 4em;
}
#home-page .format-adjust p {
  text-align: center;
  padding-top: 1em;
  padding-bottom: .3em;
}
#home-page .name {
  border-bottom: 1px solid grey;
}
/*
 * blog CSS
*/
#blog a,
#blogs a {
  color: orange;
}

#blog h1,
#blog h2,
#blogs h2{
  padding-bottom: 10px;
  border-bottom: 1px solid #cbc5c0;
}

#blog .content {
  margin-top: 80px;
  margin-bottom: 40px;
}
#blogs .content {
  margin-top: 20px;
  margin-bottom: 0px;
}
#blog .blog-list-item {
  margin-bottom: .7em;
}
#blogs .blog-list-item {
  margin-bottom: 2em;
}

.like {
  margin-top: 20px;
  margin-bottom: 20px;
}


/* blog comments */

#blog .comment-block {
  height: 64px;
  width: 35px;
  background-color: lavender;
}

#blog .media-self {
  min-height: 64px;
}

#blog .media {
  /*border-bottom: 1px solid lavender;*/
}



#blog .well-small,
#blogs .well-small{
  background-color: rgba(46, 46, 46, .9);
  border-radius: 1em;
  border-right: 3px solid #cbc5c0;
  border-bottom: 3px solid #cbc5c0;
}
#blogs .well-small {
  margin-left: 3.5em;
}

#blogs .stylish-timestamp {
  font-family: Josefin Sans thin;
  margin-top: 3em;
  padding-top: 1em;
  line-height: 2em;
  border-radius: 1.4em 2em 0 2em;
  background-color: slategray;
}
.stylish-timestamp .day {
  font-size: 1.5em;
}
.stylish-timestamp .year {
  font-weight: bold;
  font-size: 2.5em;
  padding-left: 1em;
}
.stylish-timestamp .month {
  font-size: 4em;
}

.paragraph {
}

.paragraph p {
  line-height: 1.8em;
  margin-bottom: 15px;
}

.paragraph h3 {
  margin-top: 1.5em;
  font-size: 2em;
}

.paragraph pre {
  background-color: rgb(32, 32, 32);
  border: 6px solid rgb(80, 80, 90);
  border-radius: 1em;
  padding: 10px;
}

.paragraph pre code {
  font-family: DejaVu Sans mono;
  color: white;
  font-size: 14px;
}


/*
  Profile CSS
*/

#profile a {
  color: orange;
}
#profile a:hover {
  color: white;
  text-decoration: none;

}

#profile .content{
  margin-top: 20px;
  margin-bottom: 60px;
}

#profile ul li {
  margin-bottom: 1em;
}

#others {
  margin: 0 auto;
  width: 350px;
}
#others ul li {
  margin-right: 20px;
  text-shadow: 1px 1px 1px black;
}

/* Message settings () */

#message input {
  font-size: 16px;
  height: 1.8em;
}
#message textarea {
  font-size: 16px;
}
#message label {
  font-size: 18px;
  color: wheat;
  text-shadow: 1px 1px 1px black;
}
#message .error {
  text-shadow: 1px 1px 1px white;
}
#message #form,
#message #result {
  background-color: rgba(255,255,255, .2);
  padding-top: 25px;
  padding-bottom: 5px;
  margin-left: 4.5em;
  margin-right: 4.5em;
  border-radius: 1em;
  border: 4px solid wheat;
}
#message #result p {
  line-height: 1.5em;
  color: wheat;
  text-shadow: 1px 1px 1px black;
}

/* footer settings (bootstrap-modified) */
#header .navbar-inner {
  background-color: rgb(35,35,35);
  background-image: none;
  border-bottom-color: saddlebrown;
  min-height: 0px;
}
#header .nav-pills li a {
  padding-bottom: 6px;
  padding-top: 6px;
  font-size: 16px;
  color: wheat;
  text-shadow: 0 0 2px black;
}
#header .nav-pills .active a {
  background-color: #f5f5f5;
  color: brown;
  text-shadow: 0 0 2px lightyellow;
}
#header .brand {
  padding-bottom: 5px;
  padding-top: 5px;
  text-shadow: -1px 0 10px rgba(255,225,175, .6);
}
/* footer settings */

.footer-show {
  animation: showup .5s forwards;
  -webkit-animation: showup .5s forwards;
}

.footer-hide {
  animation: hidedown .5s forwards;
  -webkit-animation: hidedown .5s forwards;
}

@keyframes showup {
  from {bottom : -100px;}
  to {bottom : 0px;}
}
@-webkit-keyframes showup {
  from {bottom : -100px;}
  to {bottom : 0px;}
}
@keyframes hidedown {
  from {bottom : 0px;}
  to {bottom : -100px;}
}
@-webkit-keyframes hidedown {
  from {bottom : 0px;}
  to {bottom : -100px;}
}

#footer .fs1:hover {
  font-size: 4em;
  margin-left: 0em;
  margin-top: 0em;
  transition: .1s;
}



/* background image(s) settings */

.front-bg {
  position: fixed;
  width: 120%;
  height: 120%;
  left: -10%;
  top: -8%;
  z-index: -99;
  background-color: #000000;
}

.front-image {
  margin: auto;
  min-height: 100%;
  min-width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* 404 page */

#p404 {
  color: white;
}
#p404 .obvious {
  text-shadow: 1px 1px 6px white;
}
