<div class="container main-container" id="home-page">
  <div class="format-adjust">
    <p class="biggest-stylish name">Shan He<span class="big-stylish"> 's</span></p>
    <p class="big-stylish">Personal Website with <span class="bigger-stylish">creations</span> and <span class="bigger-stylish">passions</span></p>
  </div>
</div>
