<div id="profile" class="container main-container">
  <div class="container-fluid">
    <h3 class="bigger">Shan He</h3>
    <div class="content">
      <p class="big-stylish">Web Software Engineer at
        <a href="http://www.manta.com">Manta Media Inc.</a>,
        passionate learner on technologies,
        graphic design lover.
      </p>
    </div>

    <div id="others">
      <ul class="inline">
        <li>
          <h4 class="big-stylish2"><a href="/writing" target="_self">Writing</a></h4>
        </li>
        <li>
          <h4 class="big-stylish2"><a href="/lifepieces" target="_self">Life Pieces</a></h4>
        </li>
        <li>
          <h4 class="big-stylish2"><a href="/about" target="_self">About Me</a></h4>
        </li>
      </ul>
    </div>


  </div>


</div>