@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/

.icon-facebook:hover {
  color: #3B559F;
}
.icon-twitter:hover {
  color: #00BEF6;
}
.icon-github:hover {
	color: #333333;
}
.icon-google-plus:hover {
	color: #DB4935;
}
.icon-mail:hover {
	color: #FFFFFF;
}
.icon-linkedin:hover {
	color: #1A85BC;
}

#social-box {
  margin-bottom: 35px;
}

.fs1 {
  font-size: 3em;
  color: #CCC;
  background-color: rgba(0,0,0,.0);
  margin: 10px;
}

.fs1:hover {
  text-decoration: none;
}